input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

html, 
body,
#map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
            }
body {
    background-color: white;
    color: rgb(22, 21, 21);
}

#Container {
    height: 100%
}

#Header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 20%;
    width: 100%;
    margin-bottom: 10px;
}

#Body {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    background-color: white
}

#map {
    height: 50%;
    margin-left: 2mm;
    margin-top: 2mm;
    }

#wishlist {
    float: right;
    width: 20%;
    background-color: black;
    color: white
}

#logout {
    float: right;
    width: 20%;
    background-color: black;
    color: white
}

#myTable {
    table-layout: auto;
    width: 100%;  
    cursor: pointer;
  }

th {
    border: 3px solid black;
 } 