input {
    width: 100%;
    padding: 12px;
    border: 2px solid rgb(77, 71, 71);
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
        }

html, 
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
            }
body {
    font-family: 'Courier New', Courier, monospace;
    background: white;
}

#Container {
    height: 100%
}

#Header {
    height: 20%;
    width: 100%;
    margin-bottom: 10px;
}

#Body {
    height: 60%;
    background: white
}

#logout {
    float: right;
    width: 20%;
    background-color: rgb(99, 99, 218);
    color: rgba(86, 68, 138, 0.979);
}

#myTable {
    table-layout: auto;
    width: 100%;  
    cursor: pointer;
  }

th {
    border: 5px solid black;
 }